
@{
    ViewData["Title"] = "ArmyBuilder";
}

<h1>ArmyBuilder</h1>

<style>
    #table 
    {
        width: inherit;
    }
</style>

<div class="container">
  <div class="row">
      <div class="col-sm border">
          My Armies
          <div class="container border">
              Army1
          </div>
      </div>
      <div class="col-sm border">
          Units in this army
          <div class="container border">
              Devastator Squad
          </div>
          <div class="container border">
              Hell Blaster
          </div>
      </div>
      <div class="col-sm border px-xl-5">
          Details
          <div class="container border">
              DEVASTATOR SQUAD
              <div class="row border">
                  <div class="col-sm">
                      No.
                  </div>
                  <div class="col-sm">
                      Name
                  </div>
                  <div class="col-sm">
                      M
                  </div>
                  <div class="col-sm">
                      WS
                  </div>
                  <div class="col-sm">
                      BS
                  </div>
                  <div class="col-sm">
                      S
                  </div>
                  <div class="col-sm">
                      T
                  </div>
                  <div class="col-sm">
                      W
                  </div>
                  <div class="col-sm">
                      A
                  </div>
                  <div class="col-sm">
                      Ld
                  </div>
                  <div class="col-sm">
                      Sv
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>