@{
    ViewData["Title"] = "Create Account";
}
    <div class="text-center">
        <div class="m-5 border border-warning rounded">
            <h1 class="mt-3">Register</h1>
            <form method="post" asp-action="RegisterForm">
                <div asp-validation-summary="All"></div>

                <input type="hidden" asp-for="Id" />

                <div class="form-group row px-5 mx-5">
                    <label asp-for="Email" class="col-sm-2 col-form-label">Email:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" asp-for="Email" placeholder="Email" />
                    </div>
                </div>
                <div class="form-group row px-5 mx-5">
                    <label asp-for="Password" class="col-sm-2 col-form-label">Password:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" asp-for="Password" placeholder="Password" />
                    </div>
                </div>
                <div class="form-group row px-5 mx-5">
                    <label asp-for="Username" class="col-sm-2 col-form-label">Name:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" asp-for="Username" placeholder="Name" />
                    </div>
                </div>
                <button type="submit" class="btn btn-success px-4 my-4">Submit</button>
            </form>
        </div>
    </div>