
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EventCalendar</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>Find Events in your Area!</h1>
            <div class="col-lg-5">
                <h6>Event Calendar</h6>
                <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
            </div>
        </div>
    </div>

</body>
</html>
