@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Warhammer 40k Administratum</h1>
    <p>by: Matthew (Supreme Leader), Christian (Holy Crusader), Connor (Narko Farourite), and Richard (Shleeeeeeepy).</p>
</div>
