@{
    ViewData["Title"] = "Shop Page for an Item";
}
<h1>@ViewData["Title"]</h1>

<div class="container">

    <div class="row">

        <div class="col-lg-5">
            <h1 class="my-4">Tau Stormsurge</h1>
            <img class="card-img-top img-fluid" src="https://cdn.discordapp.com/attachments/502246295579262987/782800019367133194/99120113036_TauKV128Stormsurge01.png" alt="">
        </div>

        <div class="col-lg-7">

            <div>
                <div class="card-body">
                    <h4>$200</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">A big machine for the small fish people of the Tau Empire. The amount of firepower on this machine is enough to level a large city and then some. Designed for killing large vehicles and looking silly.</p>
                </div>
                <div class="card-body"><button type="button" class="btn btn-warning">Add to Cart</button></divclass="card-body">
            </div>

            <div>
                
            </div>

        </div>

    </div>

</div>